@import "tailwindcss";
@font-face {
  font-family: font1;
  src: url(/Fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: font2;
  src: url(/Fonts/Lausanne-500.woff2);
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  scroll-behavior: smooth;
}
:root ::selection{
  background-color: greenyellow;
}
body{
  overflow-x: hidden;
}
.moveX{
  animation: moveanimation 20s linear infinite;
}
.moveLink{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.moveLink:hover{
  opacity: 1;
  
}
@keyframes moveanimation {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%)
  }
  
}